.sidebar .nav{
    padding:  0px !important;
  
  }
  
  .sidebar ul li a:hover{
    background-color: blue;
  }

  .sidebar
  {
    width: 14rem;
  }
  .sidebar-container {
    display: block;
  }
  
  .sidebarMbl {
    display: none;
  }
  
  .mobile-toggle
  {
    display: none;
  }
  /* Mobile View: Hide desktop sidebar, show mobile sidebar */
  @media screen and (max-width: 768px) {
    .sidebar-container {
      display: none;
    }
  
    .mobile-toggle {
        position: fixed;
        /* top: 5px;
        left: 5px; */
        color: black;
        border: none;
        padding: 10px;
        cursor: pointer;
        display: block;
        z-index: 1;

    
    }
  
    .sidebarMbl {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 15rem;
      height: 100vh;
      background-color: #343a40;
      z-index: 999;
      transition: transform 0.3s ease-in-out;
    }
  
    .sidebarMbl.show {
      display: block;
      transform: translateX(0);
    }
  }
  